{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <main>

  {% include 'includes/pre-loader.html' %}

    <!-- Section -->
    <div class="section section-lg bg-primary-app">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center mb-5 mb-lg-6">
            <h2 class="display-2 fw-bold">
              Your appointment
            </h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <div class="card bg-white border-gray-300">
              {% if appointment_list %}
                {% for appointment in appointment_list %}
                  <div class="border-bottom px-4 py-5">
                    <div class="row align-items-center">
                      <div class="col-12 col-md-3 pb-3 pb-md-0">
                        <p>{{ appointment.visit_date }}</p>
                        <h2 class="h5"><span class="fas fa-map-marker-alt"></span> {{ appointment.training_center.city }}</h2>
                      </div>
                      <div class="col-md-5 pb-2 pb-md-0">
                        <h3 class="h5 mb-3">Service: {{ appointment.service.name }}</h3>
                        <p>{{ appointment.service.price}}</p>
                      </div>
                      <div class="col-md-4 text-md-right"><a href="{% url 'training-centers:appointment-detail' appointment.id %}" class="badge bg-primary">See more</a></div>
                    </div>
                  </div>{% endfor %}
              {% else %}
                <h5>You don't have appointments yet.</h5>
                <div class="btn btn-secondary"><a href="{% url 'training-centers:appointment-create' %}" class="badge bg-primary">Make an Appointment</a></div>
                    </div>
              {% endif %}
            </div>
          </div>
          {% include "includes/pagination.html" %}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
