{% extends "base.html" %}

{% block content %}
  <h1>
    {{ appointment.service.name }}
  </h1>

  <p><strong>Price:</strong> {{ appointment.service.price }}</p>
  <p>
  <strong>
    Training center:
  </strong>
    {{ appointment.specialist.training_centers }}
  </p>
  <p>
    Date: {{ appointment.visit_date.date }}
    <br>
    Time: {{ appointment.visit_date.time }}
  </p>

  <p>
    <strong>Specialist:</strong> {{ appointment.specialist }}<br>
    {{ appointment.specialist.phone_number }}<br>
  {{ appointment.specialist.email_address }}
  </p>

{% endblock %}
