{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <main>

    {% include 'includes/pre-loader.html' %}

    <!-- Section -->
    <section class="section section-lg pt-6">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <br><h2>My pets</h2>
          </div>
          {% if dog_list %}
            {% for dog in dog_list %}
              <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-0 text-center">
                  <a class="detail-link" href="{% url 'training-centers:specialist-detail' dog.id %}">
                    <div class="card-header border-0 bg-white">
                    {% if dog.id == 1 %}
                      <img src="{% static 'assets/img/dogs/shepherd.png' %}" class="card-img-top rounded shadow border-0 image-lg" alt="Christopher Avatar">
                    {% else %}
                      <img src="{% static 'assets/img/dogs/labrador.png' %}" class="card-img-top rounded shadow border-0 image-lg" alt="Neil Avatar">
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <h3>
                        {{ dog.name }}
                    </h3>
                  </a>
                    <p><strong>Age: {{ dog.age }}<br></strong></p>
                    <p><strong>Breed: </strong> {{ dog.breed }}
                     </p>
                  </div>
                </div>
              </div>
            {% endfor %}
            {% else %}
              <p>You don't add any dogs yet</p>
            {% endif %}

            {% include "includes/pagination.html" %}

        </div>
      </div>
    </section>
    <!-- End of section -->
  </main>
{% endblock content %}

