{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <main>
    <section class="section-header">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <h1 class="display-2 mb-3">{{ object|yesno:"Update,Add" }} a pet</h1>
            {% if dog.breed.breed_image %}
              <img src="{{ dog.breed.breed_image.url }}"
                   class="rounded-circle img-thumbnail image-lg border-gray-300 p-2" alt="Breed image">
            {% else %}
              <img src="{% static 'assets/img/breed-default.jpg' %}"
                   class="rounded-circle img-thumbnail image-lg border-gray-300 p-2" alt="Breed image">
            {% endif %}
            <form action="" method="post" novalidate>
              {{ form|crispy }}
              {% csrf_token %}
              <input class="btn btn-primary" type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
