{% extends "base.html" %}

{% block content %}
  <h1>
    {{ service.name }}
  </h1>

  <p><strong>Price:</strong> {{ service.price }}</p>
  {% if service.training_centers.all %}
    <h4>You can get this service in such training center{{ service.training_centers.count|pluralize }}</h4>
    <ul>
      {% for training_center in service.training_centers.all %}
        <li>
          <a class="detail-link" href="{% url 'training-centers:training-center-detail' training_center.id %}">
            {{ training_center.name }}
          </a>
          , city: {{ training_center.city }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>We don't have this service in any training center</p>
  {% endif %}

  <div class="ml-3">
    <h4>Such specialist{{ service.specialists.count|pluralize }} provide this service:</h4>
    {% for specialist in service.specialists.all %}
        <hr>
        <p>
          <a class="detail-link" href="{% url 'training-centers:specialist-detail' specialist.id %}">
            {{ specialist.first_name }} {{ specialist.last_name }}
          </a>
        </p>
        <p>Work experience of {{ specialist.years_of_experience }} years</p>

    {% empty %}
      <p>We don't have any specialist in this field yet</p>
    {% endfor %}
  </div>
{% endblock %}
