{% extends "base.html" %}

{% block content %}
  <h1>
    We have such training specialists
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form.as_p }}
    <input type="submit" class="btn btn-secondary" value="🔎">
  </form>
  {% if specialist_list %}
    {% for specialist in specialist_list %}
      <h3>
        <a class="detail-link" href="{% url 'training-centers:specialist-detail' specialist.id %}">
          {{ specialist.first_name }} {{ specialist.last_name }}
        </a>
      </h3>
      <p>Work experience of {{ specialist.years_of_experience }} years</p>
      <p><strong>Contacts: </strong>
        {{ specialist.phone_number }}<br>
        {{ specialist.email_address }}
      </p>
    {% endfor %}
  {% else %}
    <p>There are no specialists in our training centers yet</p>
  {% endif %}
{% endblock %}
