{% extends "base.html" %}

{% block content %}
  <h1>
    {{ training_center.name }}
  </h1>

  <p><strong>City:</strong> {{ training_center.city }}</p>
  {% if training_center.services.all %}
    <h4>This center provided such services</h4>
    <ul>
      {% for service in training_center.services.all %}
        <li>
          <a class="detail-link" href="{% url 'training-centers:service-detail' service.id %}">
            {{ service }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>We don't provide any services yet</p>
  {% endif %}

  <div class="ml-3">
    <h4>Our specialists:</h4>
    {% for specialist in training_center.specialists.all %}
        <hr>
        <p>
          <a href="{% url 'training-centers:specialist-detail' specialist.id %}">
            {{ specialist.first_name }} {{ specialist.last_name }}
          </a>
        </p>
        <p>Work experience of {{ specialist.years_of_experience }} years</p>

    {% empty %}
      <p>We don't have any specialist yet</p>
    {% endfor %}
  </div>
{% endblock %}
